/*<meta />*/

/********Custom expand and collapse buttons********/

div.collapse,
div.expand
{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 30px;
	height: 30px;
	background-color: #5a4fc1;
	/*Set button color*/
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 0px 10px 10px 0px;
	cursor: pointer;
	transition: width .25s;
}

div.collapse:hover,
div.expand:hover
{
	width: 33px;
}

/********Arrow icons for expand/collapse button********/

div.collapse
{
	background-color: #ffffff;
	background-image: url('../Images/left-arrow.png');
}

div.expand
{
	background-color: #ffffff;
	background-image: url('../Images/right-arrow.png');
}

/*******Remove body container padding so button is attached to side nav*******/

div.body-container
{
	padding-left: 0;
	padding-top: 0;
	padding-right: 3em;
}

div.topic-container
{
	padding-left: 3em;
	padding-top: 0em;
}

nav.sidenav-wrapper
{
	overflow: hidden auto;
}

/*******Add resize icon to side nav*******/

div.ui-resizable-e
{
	background-repeat: no-repeat;
	background-position: center;
	width: 15px !important;
	background-image: url('../Images/resize-arrow.png');
}

/*******Hide bottom-right resize icon*******/

div.ui-resizable-se
{
	display: none !important;
}

div.ui-resizable-s
{
	display: none !important;
}

@media only screen and (max-width: 1282px)
{
	div.topic-container
	{
		padding-left: 1em;
		padding-right: 1em;
	}

	/*******Hide expand/collapse icon in tablet and mobile*******/

	div.collapse
	{
		display: none;
	}
}

